<template name="trial">
  <div id="themer" class="">
    {{#if sidebarState}}
    <div class="ui-sidebar sidebar sidebar-dark sidebar-fixed" id="sidebar">
      <div class="sidebar-brand d-none d-md-flex">
        <svg class="sidebar-brand-full" width="118" height="46" alt="CoreUI Logo">
          <use xlink:href="assets/brand/coreui.svg#full"></use>
        </svg>
        <svg class="sidebar-brand-narrow" width="46" height="46" alt="CoreUI Logo">
          <use xlink:href="assets/brand/coreui.svg#signet"></use>
        </svg>
      </div>
      <ul class="sidebar-nav" data-coreui="navigation"> <!-- data-simplebar-->
        <li class="nav-item"><a class="nav-link" href="/">
            <svg class="nav-icon">
              <use xlink:href="@coreui/icons/sprites/free.svg#cil-speedometer"></use>
            </svg> DashBoard<span class="badge badge-sm bg-info ms-auto">NEW</span></a></li>
        <li class="nav-title">Important Links</li>
        <li class="nav-item"><a class="nav-link" href="/showList">
            <svg class="nav-icon">
              <use xlink:href="@coreui/icons/sprites/free.svg#cil-featured-playlist"></use>
            </svg> List of Users</a></li>
        <li class="nav-item"><a class="nav-link" href="/search">
            <svg class="nav-icon">
              <use xlink:href="@coreui/icons/sprites/free.svg#cil-search"></use>
            </svg> Search</a></li>
        
        <li class="nav-item">
          {{#if currentUser }}
          <button class="logOut nav-link btn" type="button">
          <svg class="nav-icon">
            <use xlink:href="@coreui/icons/sprites/free.svg#cil-account-logout"></use>
          </svg> Logout </button>
          {{else}}
          <button class="nav-link btn logIn" type="button">
          <svg class="nav-icon">
            <use xlink:href="@coreui/icons/sprites/free.svg#cil-user"></use>
          </svg> Login</button>
          {{/if}}
        </li>
        <!--<li class="nav-item"><a class="nav-link" href="/register">
          <svg class="nav-icon">
            <use xlink:href="@coreui/icons/sprites/free.svg#cil-user-plus"></use>
          </svg> Register</a></li>-->
        {{#if currentUser}}
        <li class="nav-title">Components</li>
        <li class="nav-group"><a class="nav-link nav-group-toggle" href="#">
            <svg class="nav-icon">
              <use xlink:href="@coreui/icons/sprites/free.svg#cil-puzzle"></use>
            </svg> Base</a>
          <ul class="nav-group-items">
            <li class="nav-item"><a class="nav-link" href="base/accordion.html"><span class="nav-icon"></span> Accordion</a></li>
            <li class="nav-item"><a class="nav-link" href="base/breadcrumb.html"><span class="nav-icon"></span> Breadcrumb</a></li>
            <li class="nav-item"><a class="nav-link" href="base/cards.html"><span class="nav-icon"></span> Cards</a></li>
            <li class="nav-item"><a class="nav-link" href="base/carousel.html"><span class="nav-icon"></span> Carousel</a></li>
            <li class="nav-item"><a class="nav-link" href="base/collapse.html"><span class="nav-icon"></span> Collapse</a></li>
            <li class="nav-item"><a class="nav-link" href="base/list-group.html"><span class="nav-icon"></span> List group</a></li>
            <li class="nav-item"><a class="nav-link" href="base/navs.html"><span class="nav-icon"></span> Navs</a></li>
            <li class="nav-item"><a class="nav-link" href="base/pagination.html"><span class="nav-icon"></span> Pagination</a></li>
            <li class="nav-item"><a class="nav-link" href="base/placeholders.html"><span class="nav-icon"></span> Placeholders</a></li>
            <li class="nav-item"><a class="nav-link" href="base/popovers.html"><span class="nav-icon"></span> Popovers</a></li>
            <li class="nav-item"><a class="nav-link" href="base/progress.html"><span class="nav-icon"></span> Progress</a></li>
            <li class="nav-item"><a class="nav-link" href="base/scrollspy.html"><span class="nav-icon"></span> Scrollspy</a></li>
            <li class="nav-item"><a class="nav-link" href="base/spinners.html"><span class="nav-icon"></span> Spinners</a></li>
            <li class="nav-item"><a class="nav-link" href="base/tables.html"><span class="nav-icon"></span> Tables</a></li>
            <li class="nav-item"><a class="nav-link" href="base/tabs.html"><span class="nav-icon"></span> Tabs</a></li>
            <li class="nav-item"><a class="nav-link" href="base/tooltips.html"><span class="nav-icon"></span> Tooltips</a></li>
          </ul>
        </li>
        <li class="nav-group"><a class="nav-link nav-group-toggle" href="#">
            <svg class="nav-icon">
              <use xlink:href="@coreui/icons/sprites/free.svg#cil-cursor"></use>
            </svg> Buttons</a>
          <ul class="nav-group-items">
            <li class="nav-item"><a class="nav-link" href="/"><span class="nav-icon"></span> Buttons</a></li>
            <li class="nav-item"><a class="nav-link" href="/"><span class="nav-icon"></span> Buttons Group</a></li>
            <li class="nav-item"><a class="nav-link" href="/"><span class="nav-icon"></span> Dropdowns</a></li>
          </ul>
        </li>
        <li class="nav-item"><a class="nav-link" href="/">
            <svg class="nav-icon">
              <use xlink:href="@coreui/icons/sprites/free.svg#cil-chart-pie"></use>
            </svg> Charts</a></li>
        <li class="nav-group"><a class="nav-link nav-group-toggle" href="#">
            <svg class="nav-icon">
              <use xlink:href="@coreui/icons/sprites/free.svg#cil-notes"></use>
            </svg> Forms</a>
          <ul class="nav-group-items">
            <li class="nav-item"><a class="nav-link" href="forms/form-control.html"> Form Control</a></li>
            <li class="nav-item"><a class="nav-link" href="forms/select.html"> Select</a></li>
            <li class="nav-item"><a class="nav-link" href="forms/checks-radios.html"> Checks and radios</a></li>
            <li class="nav-item"><a class="nav-link" href="forms/range.html"> Range</a></li>
            <li class="nav-item"><a class="nav-link" href="forms/input-group.html"> Input group</a></li>
            <li class="nav-item"><a class="nav-link" href="forms/floating-labels.html"> Floating labels</a></li>
            <li class="nav-item"><a class="nav-link" href="forms/layout.html"> Layout</a></li>
            <li class="nav-item"><a class="nav-link" href="forms/validation.html"> Validation</a></li>
          </ul>
        </li>
        <li class="nav-group"><a class="nav-link nav-group-toggle" href="#">
            <svg class="nav-icon">
              <use xlink:href="@coreui/icons/sprites/free.svg#cil-star"></use>
            </svg> Icons</a>
          <ul class="nav-group-items">
            <li class="nav-item"><a class="nav-link" href="icons/coreui-icons-free.html"> CoreUI Icons<span class="badge badge-sm bg-success ms-auto">Free</span></a></li>
            <li class="nav-item"><a class="nav-link" href="icons/coreui-icons-brand.html"> CoreUI Icons - Brand</a></li>
            <li class="nav-item"><a class="nav-link" href="icons/coreui-icons-flag.html"> CoreUI Icons - Flag</a></li>
          </ul>
        </li>
        <li class="nav-group"><a class="nav-link nav-group-toggle" href="#">
            <svg class="nav-icon">
              <use xlink:href="@coreui/icons/sprites/free.svg#cil-bell"></use>
            </svg> Notifications</a>
          <ul class="nav-group-items">
            <li class="nav-item"><a class="nav-link" href="notifications/alerts.html"><span class="nav-icon"></span> Alerts</a></li>
            <li class="nav-item"><a class="nav-link" href="notifications/badge.html"><span class="nav-icon"></span> Badge</a></li>
            <li class="nav-item"><a class="nav-link" href="notifications/modals.html"><span class="nav-icon"></span> Modals</a></li>
            <li class="nav-item"><a class="nav-link" href="notifications/toasts.html"><span class="nav-icon"></span> Toasts</a></li>
          </ul>
        </li>
        <li class="nav-item"><a class="nav-link" href="/">
            <svg class="nav-icon">
              <use xlink:href="@coreui/icons/sprites/free.svg#cil-calculator"></use>
            </svg> Widgets<span class="badge badge-sm bg-info ms-auto">NEW</span></a></li>
        <li class="nav-divider"></li>
        {{/if}}
        <li class="nav-title">Extras</li>
        <li class="nav-group"><a class="nav-link nav-group-toggle" href="#">
            <svg class="nav-icon">
              <use xlink:href="@coreui/icons/sprites/free.svg#cil-star"></use>
            </svg> Pages</a>
          <ul class="nav-group-items">
            <li class="nav-item"><a class="nav-link" href="login.html" target="_top">
                <svg class="nav-icon">
                  <use xlink:href="@coreui/icons/sprites/free.svg#cil-account-logout"></use>
                </svg> Login</a></li>
            <li class="nav-item"><a class="nav-link" href="register.html" target="_top">
                <svg class="nav-icon">
                  <use xlink:href="@coreui/icons/sprites/free.svg#cil-account-logout"></use>
                </svg> Register</a></li>
            <li class="nav-item"><a class="nav-link" href="404.html" target="_top">
                <svg class="nav-icon">
                  <use xlink:href="@coreui/icons/sprites/free.svg#cil-bug"></use>
                </svg> Error 404</a></li>
            <li class="nav-item"><a class="nav-link" href="500.html" target="_top">
                <svg class="nav-icon">
                  <use xlink:href="@coreui/icons/sprites/free.svg#cil-bug"></use>
                </svg> Error 500</a></li>
          </ul>
        </li>
        <li class="nav-item mt-auto"><a class="nav-link" href="/">
            <svg class="nav-icon">
              <use xlink:href="@coreui/icons/sprites/free.svg#cil-description"></use>
            </svg> Docs</a></li>
        <li class="nav-item"><a class="nav-link nav-link-danger" href="https://coreui.io/pro/" target="_top">
            <svg class="nav-icon">
              <use xlink:href="@coreui/icons/sprites/free.svg#cil-layers"></use>
            </svg> Try CoreUI
            <div class="fw-semibold">PRO</div></a></li>
            <li class="nav-title">System Utilization</li>
            <li class="nav-item px-3 d-narrow-none">
            <div class="text-uppercase mb-1"><small><b>CPU Usage</b></small></div>
            <div class="progress progress-thin">
            <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div><small class="text-medium-emphasis-inverse">348 Processes. 1/4 Cores.</small>
            </li>
            <li class="nav-item px-3 d-narrow-none">
            <div class="text-uppercase mb-1"><small><b>Memory Usage</b></small></div>
            <div class="progress progress-thin">
            <div class="progress-bar bg-warning" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
            </div><small class="text-medium-emphasis-inverse">11444GB/16384MB</small>
            </li>
            <li class="nav-item px-3 mb-3 d-narrow-none">
            <div class="text-uppercase mb-1"><small><b>SSD 1 Usage</b></small></div>
            <div class="progress progress-thin">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
            </div><small class="text-medium-emphasis-inverse">243GB/256GB</small>
          </li>
      </ul>
      <button class="sidebar-toggler sidebarToggle" type="button" data-coreui-toggle="unfoldable"></button>
    </div>
    {{/if}} 
    <div class="wrapper d-flex flex-column min-vh-100 bg-light">
      <header class="header header-sticky mb-4">
        <div class="container-fluid">
          <button class="header-toggler sidebarToggle px-md-0 me-md-3" type="button"> <!---onclick="coreui.Sidebar.getInstance(document.querySelector('#sidebar')).toggle()"-->
            <svg class="icon icon-lg">
              <use xlink:href="@coreui/icons/sprites/free.svg#cil-menu"></use>
            </svg>
          </button><a class="header-brand d-md-none" href="#">
            <svg width="118" height="46" alt="CoreUI Logo">
              <use xlink:href="assets/brand/coreui.svg#full"></use>
            </svg></a>
          <ul class="header-nav d-none d-md-flex">
            <li class="nav-item"><a class="nav-link" href="#">Dashboard</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Users</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Settings</a></li>
          </ul>
          <nav class="header-nav ms-auto me-4">
            <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group" bis_skin_checked="1">
            <!-- <input class="btn-check" id="btn-light-theme" type="radio" name="theme-switch" autocomplete="off" value="light" onchange="handleThemeChange(this)"> -->
            <button id="lightthemerBtn" class="btn btn-primary">
            <svg class="icon">
            <use xlink:href="@coreui/icons/sprites/free.svg#cil-sun"></use>
            </svg></button>
            <!-- <input class="btn-check" id="btn-dark-theme" type="radio" name="theme-switch" autocomplete="off" value="dark" onchange="handleThemeChange(this)">-->
            <button id="darkthemerBtn" class="btn btn-primary">
            <svg class="icon">
            <use xlink:href="@coreui/icons/sprites/free.svg#cil-moon"></use>
            </svg>
            </button>
            </div>
            </nav>
          {{#if currentUser}}
          <ul class="header-nav ms-auto">
            <li class="nav-item dropdown d-md-down-none"><a class="nav-link" data-coreui-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              <svg class="icon icon-lg my-1 mx-2">
              <use xlink:href="@coreui/icons/sprites/free.svg#cil-bell"></use>
              </svg><span class="badge bg-danger rounded-pill position-absolute top-0 end-0">5</span></a>
              <div class="dropdown-menu dropdown-menu-end dropdown-menu-lg pt-0" bis_skin_checked="1">
              <div class="dropdown-header bg-light dark:bg-white dark:bg-opacity-10" bis_skin_checked="1"><strong>You have 5 notifications</strong></div><a class="dropdown-item" href="#">
              <svg class="icon me-2 text-success">
              <use xlink:href="@coreui/icons/sprites/free.svg#cil-user-follow"></use>
              </svg> New user registered</a><a class="dropdown-item" href="#">
              <svg class="icon me-2 text-danger">
              <use xlink:href="@coreui/icons/sprites/free.svg#cil-user-unfollow"></use>
              </svg> User deleted</a><a class="dropdown-item" href="#">
              <svg class="icon me-2 text-info">
              <use xlink:href="@coreui/icons/sprites/free.svg#cil-chart"></use>
              </svg> Sales report is ready</a><a class="dropdown-item" href="#">
              <svg class="icon me-2 text-success">
              <use xlink:href="@coreui/icons/sprites/free.svg#cil-basket"></use>
              </svg> New client</a><a class="dropdown-item" href="#">
              <svg class="icon me-2 text-warning">
              <use xlink:href="@coreui/icons/sprites/free.svg#cil-speedometer"></use>
              </svg> Server overloaded</a>
              <div class="dropdown-header bg-light dark:bg-white dark:bg-opacity-10" bis_skin_checked="1"><strong>Server</strong></div><a class="dropdown-item d-block" href="#">
              <div class="text-uppercase mb-1" bis_skin_checked="1"><small><b>CPU Usage</b></small></div><span class="progress progress-thin">
              <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" bis_skin_checked="1"></div>
              </span><small class="text-medium-emphasis">348 Processes. 1/4 Cores.</small>
              </a><a class="dropdown-item d-block" href="#">
              <div class="text-uppercase mb-1" bis_skin_checked="1"><small><b>Memory Usage</b></small></div><span class="progress progress-thin">
              <div class="progress-bar bg-warning" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" bis_skin_checked="1"></div>
              </span><small class="text-medium-emphasis">11444GB/16384MB</small>
              </a><a class="dropdown-item d-block" href="#">
              <div class="text-uppercase mb-1" bis_skin_checked="1"><small><b>SSD 1 Usage</b></small></div><span class="progress progress-thin">
              <div class="progress-bar bg-danger" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" bis_skin_checked="1"></div>
              </span><small class="text-medium-emphasis">243GB/256GB</small>
              </a>
              </div>
              </li>
            <li class="nav-item dropdown d-md-down-none"><a class="nav-link" data-coreui-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              <svg class="icon icon-lg my-1 mx-2">
              <use xlink:href="@coreui/icons/sprites/free.svg#cil-list-rich"></use>
              </svg><span class="badge rounded-pill position-absolute top-0 end-0 bg-warning">5</span></a>
              <div class="dropdown-menu dropdown-menu-end dropdown-menu-lg pt-0" bis_skin_checked="1">
              <div class="dropdown-header bg-light dark:bg-white dark:bg-opacity-10" bis_skin_checked="1"><strong>You have 5 pending tasks</strong></div><a class="dropdown-item d-block" href="#">
              <div class="small mb-1" bis_skin_checked="1">Upgrade NPM &amp; Bower<span class="float-end"><strong>0%</strong></span></div><span class="progress progress-thin">
              <div class="progress-bar bg-info" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" bis_skin_checked="1"></div>
              </span>
              </a><a class="dropdown-item d-block" href="#">
              <div class="small mb-1" bis_skin_checked="1">ReactJS Version<span class="float-end"><strong>25%</strong></span></div><span class="progress progress-thin">
              <div class="progress-bar bg-danger" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" bis_skin_checked="1"></div>
              </span>
              </a><a class="dropdown-item d-block" href="#">
              <div class="small mb-1" bis_skin_checked="1">VueJS Version<span class="float-end"><strong>50%</strong></span></div><span class="progress progress-thin">
              <div class="progress-bar bg-warning" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" bis_skin_checked="1"></div>
              </span>
              </a><a class="dropdown-item d-block" href="#">
              <div class="small mb-1" bis_skin_checked="1">Add new layouts<span class="float-end"><strong>75%</strong></span></div><span class="progress progress-thin">
              <div class="progress-bar bg-info" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" bis_skin_checked="1"></div>
              </span>
              </a><a class="dropdown-item d-block" href="#">
              <div class="small mb-1" bis_skin_checked="1">Angular 8 Version<span class="float-end"><strong>100%</strong></span></div><span class="progress progress-thin">
              <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" bis_skin_checked="1"></div>
              </span>
              </a><a class="dropdown-item text-center border-top" href="#"><strong>View all tasks</strong></a>
              </div>
              </li>
            <li class="nav-item dropdown d-md-down-none"><a class="nav-link" data-coreui-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              <svg class="icon icon-lg my-1 mx-2">
              <use xlink:href="@coreui/icons/sprites/free.svg#cil-envelope-open"></use>
              </svg><span class="badge rounded-pill position-absolute top-0 end-0 bg-info">7</span></a>
              <div class="dropdown-menu dropdown-menu-end dropdown-menu-lg pt-0" bis_skin_checked="1">
              <div class="dropdown-header bg-light dark:bg-white dark:bg-opacity-10" bis_skin_checked="1"><strong>You have 4 messages</strong></div><a class="dropdown-item" href="#">
              <div class="message" bis_skin_checked="1">
              <div class="py-3 me-3 float-start" bis_skin_checked="1">
              <div class="avatar" bis_skin_checked="1"><img class="avatar-img" src="assets/img/avatars/7.jpg" alt="user@email.com"><span class="avatar-status bg-success"></span></div>
              </div>
              <div bis_skin_checked="1"><small class="text-medium-emphasis">John Doe</small><small class="text-medium-emphasis float-end mt-1">Just now</small></div>
              <div class="text-truncate font-weight-bold" bis_skin_checked="1"><span class="text-danger">!</span> Important message</div>
              <div class="small text-medium-emphasis text-truncate" bis_skin_checked="1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</div>
              </div>
              </a><a class="dropdown-item" href="#">
              <div class="message" bis_skin_checked="1">
              <div class="py-3 me-3 float-start" bis_skin_checked="1">
              <div class="avatar" bis_skin_checked="1"><img class="avatar-img" src="assets/img/avatars/6.jpg" alt="user@email.com"><span class="avatar-status bg-warning"></span></div>
              </div>
              <div bis_skin_checked="1"><small class="text-medium-emphasis">John Doe</small><small class="text-medium-emphasis float-end mt-1">5 minutes ago</small></div>
              <div class="text-truncate font-weight-bold" bis_skin_checked="1">Lorem ipsum dolor sit amet</div>
              <div class="small text-medium-emphasis text-truncate" bis_skin_checked="1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</div>
              </div>
              </a><a class="dropdown-item" href="#">
              <div class="message" bis_skin_checked="1">
              <div class="py-3 me-3 float-start" bis_skin_checked="1">
              <div class="avatar" bis_skin_checked="1"><img class="avatar-img" src="assets/img/avatars/5.jpg" alt="user@email.com"><span class="avatar-status bg-danger"></span></div>
              </div>
              <div bis_skin_checked="1"><small class="text-medium-emphasis">John Doe</small><small class="text-medium-emphasis float-end mt-1">1:52 PM</small></div>
              <div class="text-truncate font-weight-bold" bis_skin_checked="1">Lorem ipsum dolor sit amet</div>
              <div class="small text-medium-emphasis text-truncate" bis_skin_checked="1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</div>
              </div>
              </a><a class="dropdown-item" href="#">
              <div class="message" bis_skin_checked="1">
              <div class="py-3 me-3 float-start" bis_skin_checked="1">
              <div class="avatar" bis_skin_checked="1"><img class="avatar-img" src="assets/img/avatars/4.jpg" alt="user@email.com"><span class="avatar-status bg-info"></span></div>
              </div>
              <div bis_skin_checked="1"><small class="text-medium-emphasis">John Doe</small><small class="text-medium-emphasis float-end mt-1">4:03 PM</small></div>
              <div class="text-truncate font-weight-bold" bis_skin_checked="1">Lorem ipsum dolor sit amet</div>
              <div class="small text-medium-emphasis text-truncate" bis_skin_checked="1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</div>
              </div>
              </a><a class="dropdown-item text-center border-top" href="#"><strong>View all messages</strong></a>
              </div>
              </li>
          </ul>
          <ul class="header-nav ms-3">
            <li class="nav-item dropdown"><a class="nav-link py-0" data-coreui-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <div class="avatar avatar-md"><img class="avatar-img" src="assets/img/avatars/8.jpg" alt="user@email.com"></div></a>
              <div class="dropdown-menu dropdown-menu-end pt-0">
                <div class="dropdown-header bg-light py-2">
                  <div class="fw-semibold">Account</div>
                </div><a class="dropdown-item" href="#">
                  <svg class="icon me-2">
                    <use xlink:href="@coreui/icons/sprites/free.svg#cil-bell"></use>
                  </svg> Updates<span class="badge badge-sm bg-info ms-2">42</span></a><a class="dropdown-item" href="#">
                  <svg class="icon me-2">
                    <use xlink:href="@coreui/icons/sprites/free.svg#cil-envelope-open"></use>
                  </svg> Messages<span class="badge badge-sm bg-success ms-2">42</span></a><a class="dropdown-item" href="#">
                  <svg class="icon me-2">
                    <use xlink:href="@coreui/icons/sprites/free.svg#cil-task"></use>
                  </svg> Tasks<span class="badge badge-sm bg-danger ms-2">42</span></a><a class="dropdown-item" href="#">
                  <svg class="icon me-2">
                    <use xlink:href="@coreui/icons/sprites/free.svg#cil-comment-square"></use>
                  </svg> Comments<span class="badge badge-sm bg-warning ms-2">42</span></a>
                <div class="dropdown-header bg-light py-2">
                  <div class="fw-semibold">Settings</div>
                </div><a class="dropdown-item" href="#">
                  <svg class="icon me-2">
                    <use xlink:href="@coreui/icons/sprites/free.svg#cil-user"></use>
                  </svg> Profile</a><a class="dropdown-item" href="#">
                  <svg class="icon me-2">
                    <use xlink:href="@coreui/icons/sprites/free.svg#cil-settings"></use>
                  </svg> Settings</a><a class="dropdown-item" href="#">
                  <svg class="icon me-2">
                    <use xlink:href="@coreui/icons/sprites/free.svg#cil-credit-card"></use>
                  </svg> Payments<span class="badge badge-sm bg-secondary ms-2">42</span></a><a class="dropdown-item" href="#">
                  <svg class="icon me-2">
                    <use xlink:href="@coreui/icons/sprites/free.svg#cil-file"></use>
                  </svg> Projects<span class="badge badge-sm bg-primary ms-2">42</span></a>
                <div class="dropdown-divider"></div><a class="dropdown-item" href="#">
                  <svg class="icon me-2">
                    <use xlink:href="@coreui/icons/sprites/free.svg#cil-lock-locked"></use>
                  </svg> Lock Account</a>
                  <button class="logOut btn dropdown-item" type="button">
                  <svg class="icon me-2">
                    <use xlink:href="@coreui/icons/sprites/free.svg#cil-account-logout"></use>
                  </svg> Logout</button>
              </div>
            </li>
          </ul>
          <button class="header-toggler asidebarToggle header-nav ms-3" type="button"> <!-- onclick="coreui.Sidebar.getInstance(document.querySelector('#aside')).show()" -->
            <svg class="icon icon-lg">
            <use xlink:href="@coreui/icons/sprites/free.svg#cil-applications-settings"></use>
            </svg>
            </button>
          {{else}}
          <ul class="header-nav ms-auto">
            <li class="nav-item">
              <button class="nav-link btn logIn" type="button">
                <svg class="icon me-2">
                  <use xlink:href="@coreui/icons/sprites/free.svg#cil-user"></use>
                </svg> Login</button>
            </li>
          </ul>
          {{/if}}
        </div>
        <div class="header-divider"></div>
        <div class="container-fluid">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb my-0 ms-2">
              <li class="breadcrumb-item">
                <!-- if breadcrumb is single--><span>Home</span>
              </li>
              <li class="breadcrumb-item active"><span>Dashboard</span></li>
            </ol>
          </nav>
        </div>
      </header>
      <!-- This is where the content starts-->
      <main class="body flex-grow-1 px-3 container-lg">
        {{> Template.dynamic template=main}}
      </main>
        {{> world }}
        
      <footer class="footer">
        <div> &copy; CoreUI meteor prototype</div>
        <!--<div><a href="https://coreui.io">CoreUI </a><a href="https://coreui.io">Bootstrap Admin Template</a> &copy; 2021 creativeLabs.</div>
        <div class="ms-auto">Powered by&nbsp;<a href="https://coreui.io/bootstrap/ui-components/">CoreUI UI Components</a></div>-->
      </footer>
    </div>
    {{#if asidebarState}}
    <div class="aside-sidebar sidebar sidebar-light sidebar-end sidebar-overlaid" id="aside" bis_skin_checked="1">
      <div class="sidebar-header bg-transparent p-0" bis_skin_checked="1">
      <ul class="nav nav-underline nav-underline" role="tablist">
      <li class="nav-item"><a class="nav-link" data-coreui-toggle="tab" href="#timeline" role="tab" aria-selected="false">
      <svg class="icon">
      <use xlink:href="@coreui/icons/sprites/free.svg#cil-list"></use>
      </svg></a></li>
      <li class="nav-item"><a class="nav-link" data-coreui-toggle="tab" href="#messages" role="tab" aria-selected="false">
      <svg class="icon">
      <use xlink:href="@coreui/icons/sprites/free.svg#cil-speech"></use>
      </svg></a></li>
      <li class="nav-item"><a class="nav-link active" data-coreui-toggle="tab" href="#settings" role="tab" aria-selected="true">
      <svg class="icon">
      <use xlink:href="@coreui/icons/sprites/free.svg#cil-settings"></use>
      </svg></a></li>
      </ul>
      <button class="sidebar-close asidebarToggle" type="button">
      <svg class="icon">
      <use xlink:href="@coreui/icons/sprites/free.svg#cil-x"></use>
      </svg>
      </button>
      </div>
      
      <div class="tab-content" bis_skin_checked="1">
      <div class="tab-pane" id="timeline" role="tabpanel" bis_skin_checked="1">
      <div class="list-group list-group-flush" bis_skin_checked="1">
      <div class="list-group-item border-start-4 border-start-secondary bg-light text-center fw-bold text-medium-emphasis text-uppercase small dark:bg-white dark:bg-opacity-10 dark:text-medium-emphasis" bis_skin_checked="1">Today</div>
      <div class="list-group-item border-start-4 border-start-warning list-group-item-divider" bis_skin_checked="1">
      <div class="avatar avatar-lg float-end" bis_skin_checked="1"><img class="avatar-img" src="assets/img/avatars/7.jpg" alt="user@email.com"></div>
      <div bis_skin_checked="1">Meeting with <strong>Lucas</strong></div><small class="text-medium-emphasis me-3">
      <svg class="icon">
      <use xlink:href="@coreui/icons/sprites/free.svg#cil-calendar"></use>
      </svg> 1 - 3pm</small><small class="text-medium-emphasis">
      <svg class="icon">
      <use xlink:href="@coreui/icons/sprites/free.svg#cil-location-pin"></use>
      </svg> Palo Alto, CA</small>
      </div>
      <div class="list-group-item border-start-4 border-start-info" bis_skin_checked="1">
      <div class="avatar avatar-lg float-end" bis_skin_checked="1"><img class="avatar-img" src="assets/img/avatars/4.jpg" alt="user@email.com"></div>
      <div bis_skin_checked="1">Skype with <strong>Megan</strong></div><small class="text-medium-emphasis me-3">
      <svg class="icon">
      <use xlink:href="@coreui/icons/sprites/free.svg#cil-calendar"></use>
      </svg> 4 - 5pm</small><small class="text-medium-emphasis">
      <svg class="icon">
      <use xlink:href="@coreui/icons/sprites/brand.svg#cib-skype"></use>
      </svg> On-line</small>
      </div>
      <div class="list-group-item border-start-4 border-start-secondary bg-light text-center fw-bold text-medium-emphasis text-uppercase small dark:bg-white dark:bg-opacity-10 dark:text-medium-emphasis" bis_skin_checked="1">Tomorrow</div>
      <div class="list-group-item border-start-4 border-start-danger list-group-item-divider" bis_skin_checked="1">
      <div bis_skin_checked="1">New UI Project - <strong>deadline</strong></div><small class="text-medium-emphasis me-3">
      <svg class="icon">
      <use xlink:href="@coreui/icons/sprites/free.svg#cil-calendar"></use>
      </svg> 10 - 11pm</small><small class="text-medium-emphasis">
      <svg class="icon">
      <use xlink:href="@coreui/icons/sprites/free.svg#cil-home"></use>
      </svg> creativeLabs HQ</small>
      <div class="avatars-stack mt-2" bis_skin_checked="1">
      <div class="avatar avatar-xs" bis_skin_checked="1"><img class="avatar-img" src="assets/img/avatars/2.jpg" alt="user@email.com"></div>
      <div class="avatar avatar-xs" bis_skin_checked="1"><img class="avatar-img" src="assets/img/avatars/3.jpg" alt="user@email.com"></div>
      <div class="avatar avatar-xs" bis_skin_checked="1"><img class="avatar-img" src="assets/img/avatars/4.jpg" alt="user@email.com"></div>
      <div class="avatar avatar-xs" bis_skin_checked="1"><img class="avatar-img" src="assets/img/avatars/5.jpg" alt="user@email.com"></div>
      <div class="avatar avatar-xs" bis_skin_checked="1"><img class="avatar-img" src="assets/img/avatars/6.jpg" alt="user@email.com"></div>
      </div>
      </div>
      <div class="list-group-item border-start-4 border-start-success list-group-item-divider" bis_skin_checked="1">
      <div bis_skin_checked="1"><strong>#10 Startups.Garden</strong> Meetup</div><small class="text-medium-emphasis me-3">
      <svg class="icon">
      <use xlink:href="@coreui/icons/sprites/free.svg#cil-calendar"></use>
      </svg> 1 - 3pm</small><small class="text-medium-emphasis">
      <svg class="icon">
      <use xlink:href="@coreui/icons/sprites/free.svg#cil-location-pin"></use>
      </svg> Palo Alto, CA</small>
      </div>
      <div class="list-group-item border-start-4 border-start-primary list-group-item-divider" bis_skin_checked="1">
      <div bis_skin_checked="1"><strong>Team meeting</strong></div><small class="text-medium-emphasis me-3">
      <svg class="icon">
      <use xlink:href="@coreui/icons/sprites/free.svg#cil-calendar"></use>
      </svg> 4 - 6pm</small><small class="text-medium-emphasis">
      <svg class="icon">
      <use xlink:href="@coreui/icons/sprites/free.svg#cil-home"></use>
      </svg> creativeLabs HQ</small>
      <div class="avatars-stack mt-2" bis_skin_checked="1">
      <div class="avatar avatar-xs" bis_skin_checked="1"><img class="avatar-img" src="assets/img/avatars/2.jpg" alt="user@email.com"></div>
      <div class="avatar avatar-xs" bis_skin_checked="1"><img class="avatar-img" src="assets/img/avatars/3.jpg" alt="user@email.com"></div>
      <div class="avatar avatar-xs" bis_skin_checked="1"><img class="avatar-img" src="assets/img/avatars/4.jpg" alt="user@email.com"></div>
      <div class="avatar avatar-xs" bis_skin_checked="1"><img class="avatar-img" src="assets/img/avatars/5.jpg" alt="user@email.com"></div>
      <div class="avatar avatar-xs" bis_skin_checked="1"><img class="avatar-img" src="assets/img/avatars/6.jpg" alt="user@email.com"></div>
      <div class="avatar avatar-xs" bis_skin_checked="1"><img class="avatar-img" src="assets/img/avatars/7.jpg" alt="user@email.com"></div>
      <div class="avatar avatar-xs" bis_skin_checked="1"><img class="avatar-img" src="assets/img/avatars/8.jpg" alt="user@email.com"></div>
      </div>
      </div>
      </div>
      </div>
      <div class="tab-pane p-3" id="messages" role="tabpanel" bis_skin_checked="1">
      <div class="message" bis_skin_checked="1">
      <div class="py-3 pb-5 me-3 float-start" bis_skin_checked="1">
      <div class="avatar" bis_skin_checked="1"><img class="avatar-img" src="assets/img/avatars/7.jpg" alt="user@email.com"><span class="avatar-status bg-success"></span></div>
      </div>
      <div bis_skin_checked="1"><small class="text-medium-emphasis">Lukasz Holeczek</small><small class="text-medium-emphasis float-end mt-1">1:52 PM</small></div>
      <div class="text-truncate fw-bold" bis_skin_checked="1">Lorem ipsum dolor sit amet</div><small class="text-medium-emphasis">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</small>
      </div>
      <hr>
      <div class="message" bis_skin_checked="1">
      <div class="py-3 pb-5 me-3 float-start" bis_skin_checked="1">
      <div class="avatar" bis_skin_checked="1"><img class="avatar-img" src="assets/img/avatars/7.jpg" alt="user@email.com"><span class="avatar-status bg-success"></span></div>
      </div>
      <div bis_skin_checked="1"><small class="text-medium-emphasis">Lukasz Holeczek</small><small class="text-medium-emphasis float-end mt-1">1:52 PM</small></div>
      <div class="text-truncate fw-bold" bis_skin_checked="1">Lorem ipsum dolor sit amet</div><small class="text-medium-emphasis">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</small>
      </div>
      <hr>
      <div class="message" bis_skin_checked="1">
      <div class="py-3 pb-5 me-3 float-start" bis_skin_checked="1">
      <div class="avatar" bis_skin_checked="1"><img class="avatar-img" src="assets/img/avatars/7.jpg" alt="user@email.com"><span class="avatar-status bg-success"></span></div>
      </div>
      <div bis_skin_checked="1"><small class="text-medium-emphasis">Lukasz Holeczek</small><small class="text-medium-emphasis float-end mt-1">1:52 PM</small></div>
      <div class="text-truncate fw-bold" bis_skin_checked="1">Lorem ipsum dolor sit amet</div><small class="text-medium-emphasis">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</small>
      </div>
      <hr>
      <div class="message" bis_skin_checked="1">
      <div class="py-3 pb-5 me-3 float-start" bis_skin_checked="1">
      <div class="avatar" bis_skin_checked="1"><img class="avatar-img" src="assets/img/avatars/7.jpg" alt="user@email.com"><span class="avatar-status bg-success"></span></div>
      </div>
      <div bis_skin_checked="1"><small class="text-medium-emphasis">Lukasz Holeczek</small><small class="text-medium-emphasis float-end mt-1">1:52 PM</small></div>
      <div class="text-truncate fw-bold" bis_skin_checked="1">Lorem ipsum dolor sit amet</div><small class="text-medium-emphasis">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</small>
      </div>
      <hr>
      <div class="message" bis_skin_checked="1">
      <div class="py-3 pb-5 me-3 float-start" bis_skin_checked="1">
      <div class="avatar" bis_skin_checked="1"><img class="avatar-img" src="assets/img/avatars/7.jpg" alt="user@email.com"><span class="avatar-status bg-success"></span></div>
      </div>
      <div bis_skin_checked="1"><small class="text-medium-emphasis">Lukasz Holeczek</small><small class="text-medium-emphasis float-end mt-1">1:52 PM</small></div>
      <div class="text-truncate fw-bold" bis_skin_checked="1">Lorem ipsum dolor sit amet</div><small class="text-medium-emphasis">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</small>
      </div>
      </div>
      <div class="tab-pane p-3 active" id="settings" role="tabpanel" bis_skin_checked="1">
      <h6>Settings</h6>
      <div class="aside-options" bis_skin_checked="1">
      <div class="clearfix mt-4" bis_skin_checked="1">
      <div class="form-check form-switch form-switch-lg" bis_skin_checked="1">
      <input class="form-check-input me-0" id="flexSwitchCheckDefaultLg" type="checkbox" checked="">
      <label class="form-check-label fw-semibold small" for="flexSwitchCheckDefaultLg">Option 1</label>
      </div>
      </div>
      <div bis_skin_checked="1"><small class="text-medium-emphasis">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</small></div>
      </div>
      <div class="aside-options" bis_skin_checked="1">
      <div class="clearfix mt-3" bis_skin_checked="1">
      <div class="form-check form-switch form-switch-lg" bis_skin_checked="1">
      <input class="form-check-input me-0" id="flexSwitchCheckDefaultLg" type="checkbox">
      <label class="form-check-label fw-semibold small" for="flexSwitchCheckDefaultLg">Option 2</label>
      </div>
      </div>
      <div bis_skin_checked="1"><small class="text-medium-emphasis">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</small></div>
      </div>
      <div class="aside-options" bis_skin_checked="1">
      <div class="clearfix mt-3" bis_skin_checked="1">
      <div class="form-check form-switch form-switch-lg" bis_skin_checked="1">
      <input class="form-check-input me-0" id="flexSwitchCheckDefaultLg" type="checkbox">
      <label class="form-check-label fw-semibold small" for="flexSwitchCheckDefaultLg">Option 3</label>
      </div>
      </div>
      </div>
      <div class="aside-options" bis_skin_checked="1">
      <div class="clearfix mt-3" bis_skin_checked="1">
      <div class="form-check form-switch form-switch-lg" bis_skin_checked="1">
      <input class="form-check-input me-0" id="flexSwitchCheckDefaultLg" type="checkbox" checked="">
      <label class="form-check-label fw-semibold small" for="flexSwitchCheckDefaultLg">Option 4</label>
      </div>
      </div>
      </div>
      <hr>
      <h6>System Utilization</h6>
      <div class="text-uppercase mb-1 mt-4" bis_skin_checked="1"><small><b>CPU Usage</b></small></div>
      <div class="progress progress-thin" bis_skin_checked="1">
      <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" bis_skin_checked="1"></div>
      </div><small class="text-medium-emphasis">348 Processes. 1/4 Cores.</small>
      <div class="text-uppercase mb-1 mt-2" bis_skin_checked="1"><small><b>Memory Usage</b></small></div>
      <div class="progress progress-thin" bis_skin_checked="1">
      <div class="progress-bar bg-warning" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" bis_skin_checked="1"></div>
      </div><small class="text-medium-emphasis">11444GB/16384MB</small>
      <div class="text-uppercase mb-1 mt-2" bis_skin_checked="1"><small><b>SSD 1 Usage</b></small></div>
      <div class="progress progress-thin" bis_skin_checked="1">
      <div class="progress-bar bg-danger" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" bis_skin_checked="1"></div>
      </div><small class="text-medium-emphasis">243GB/256GB</small>
      <div class="text-uppercase mb-1 mt-2" bis_skin_checked="1"><small><b>SSD 2 Usage</b></small></div>
      <div class="progress progress-thin" bis_skin_checked="1">
      <div class="progress-bar bg-success" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" bis_skin_checked="1"></div>
      </div><small class="text-medium-emphasis">25GB/256GB</small>
      </div>
      </div>
      </div>
    {{/if}}
  </div>
</template>