<template name="login">
  <div class="min-vh-100 row justify-content-center">
    <div class="container">
      <div class="row align-content-center">
        <div class="col-lg-13">
          <div class="card-group d-block d-md-flex">
            <div class="card col-md-1 p-10 mb-10">
              <div class="card-body">
                <h1>Login</h1>
                <p class="text-medium-emphasis">Sign In to your account</p>
                <form>
                  <div class="input-group mb-3"><span class="input-group-text">
                      <svg class="icon">
                        <use xlink:href="@coreui/icons/sprites/free.svg#cil-user"></use>
                      </svg></span>
                    <input class="form-control" type="email" name="email" id="email" required placeholder="E-mail">
                  </div>
                  <div class="input-group mb-4"><span class="input-group-text">
                      <svg class="icon">
                        <use xlink:href="@coreui/icons/sprites/free.svg#cil-lock-locked"></use>
                      </svg></span>
                    <input class="form-control" name="password" id="password" type="password" required placeholder="Password">
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <input type="submit" value="submit" class="btn btn-primary px-6"/>
                      <!--<button class="loginClick btn btn-primary px-6" type="button">Login</button>-->
                    </div>
                    <div class="col-6 text-end">
                      <button class="btn btn-link px-0" type="button">Forgot password?</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="card col-md-5 text-white bg-primary py-5">
              <div class="card-body text-center">
                <div>
                  <h2>Sign up</h2>
                  <p>New to our platform ?</p>
                  <button class="goToRegister btn btn-lg btn-outline-light mt-3" type="button">Register Now!</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>