<template name="register">
  <div class="min-vh-100 row justify-content-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="card mb-4 mx-4">
            <div class="card-body p-4">
              <h1>Register</h1>
              <p class="text-medium-emphasis">Create your account</p>
              <form>
                <div class="input-group mb-3"><span class="input-group-text">
                  <svg class="icon">
                    <use xlink:href="@coreui/icons/sprites/free.svg#cil-user"></use>
                    
                  </svg></span>
                  <input class="form-control" type="text" name="firstName" id="firstName" placeholder="First Name">
                </div>
                <div class="input-group mb-3"><span class="input-group-text">
                  <svg class="icon">
                    <use xlink:href="@coreui/icons/sprites/free.svg#cil-user"></use>
                    
                  </svg></span>
                  <input class="form-control" name="lastName" id="lastName" type="text" placeholder="Last Name">
                </div>
                <div class="input-group mb-3"><span class="input-group-text">
                    <svg class="icon">
                      <use xlink:href="@coreui/icons/sprites/free.svg#cil-envelope-open"></use>
                    </svg></span>
                  <input class="form-control" type="text" name="email" id="email" placeholder="Email">
                </div>
                <div class="input-group mb-3"><span class="input-group-text">
                    <svg class="icon">
                      <use xlink:href="@coreui/icons/sprites/free.svg#cil-lock-locked"></use>
                    </svg></span>
                  <input class="form-control" type="password" name="password" id="password" placeholder="Password">
                </div>
                <div class="input-group mb-4"><span class="input-group-text">
                    <svg class="icon">
                      <use xlink:href="@coreui/icons/sprites/free.svg#cil-lock-locked"></use>
                    </svg></span>
                  <input class="form-control" type="password" name="passwordAgain" id="passwordAgain" placeholder="Repeat password">
                </div>
                <input type="submit" value="submit" class="btn btn-block btn-success"/>
                <!--<button class="registerClick btn btn-block btn-success" type="button">Create Account</button>-->
              </form>
              <h5 class="text-medium-emphasis">Already a User ?</h5>
              <button class="goToLogin btn btn-block btn-success" type="button">Login</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>