<!---  World Template ---------------------------->
<template name="world">
    <div id="chartdiv"></div>
</template>

<!--- Showlist --------------------------->
<template name="showList">
    <div class="row">
    <h2> List of Users</h2>
        <ol>
            {{> userinfo}}
        </ol>
    </div>
</template>

<!--- Userinfo ---------------------------->
<!-- Show list helper, used to serve all the users---------->
<!-- Followimng {{#if }} logic is to switch between editing modes----->
<template name="userinfo">
    {{> tabular table=TabularTables.Users class="table table-striped table-bordered table-condensed"}}
</template>

<!---userform --------------------------->
<!-- To add new user---->
<template name="userform">
    <!--<div class="form">-->
    <div class="addR">
        <form class="new-user" id="newuser">
            <div>Add new User</div>
            <input type="text" name="title" placeholder="Title/Name" />
            <div>Choose device type</div>
            <select name="device">
                <option value="router">Router</option>
                <option value="switch">Switch</option>
                <option value="hub">Hub</option>
            </select>
            <div>Latitude: {{latitude}}</div>
            <div>Longitude: {{longitude}}</div>
        </form>
        <button type="submit" form="newuser" value="Submit">Add user</button>
        <button class="delete">&times; Cancel</button>
    </div>
</template>

<!-- User Details --------------------------->
<!-- To display user details---->
<template name="userdetail">
    <!--<div class="form">-->
    <div class="addR">
        <h1>{{title}} <button class="collaps">&times;</button></h1>
        <div>Device type: {{device}}</div>
        <div>Latitude: {{latitude}}</div>
        <div>Longitude: {{longitude}}</div>
    </div>
</template>

<template name="addRoute">
    <div class="addR">
        <div> Select a destination <button class="cancelAdd">&times;</button></div>
        <select class="form-control" required style="width: 200px;"  id="routeDest" name="routeDest">
            <option value="" disabled selected>Please Select</option>
            {{#each dropDown}}
                <option value="{{this._id}}">{{this.title}}</option>
            {{/each}}
        </select>
    </div>
</template>

<!--- Remove Route Teomplate -->
<template name="removeRoute">
    <div class="addR">
        <div> Sure to disconnect route: <b>{{name}}</b></div>
        <button class="Remove">Yes</button>
        <button class="cancelRemove">&times; Cancel</button>
    </div>
</template>

<!--- Unkown Route Template -->
<template name="unknownRoute">
    <div style="background-color: #f3f0ff; border-radius: 10px; text-align: center; ">
        <h1> Route Not found 404</h1>
        <h2> You can go back to <a href="/">home</a>!</h2>
    </div>
</template>